.pc-notice{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 32px;
  align-items: center;
  background:linear-gradient(90deg,rgba(243,120,69,0.15) 0%,rgba(243,120,69,0.1) 100%);
  position: relative;
  justify-content: space-between;
  padding: 0 8px;
  box-sizing: border-box;

  .notice-text {
    font-size:16px;
    font-weight:600;
    color:rgb(243,120,69);
    line-height:36px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
  }

  .notice-closer{
    background: url("//q.aiyongbao.com/miniapp/marketing/mobile/notice_closer.png") 0% 0% / 100% 100%;
  }

  .marketing-closer {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 6px;
    right: 6px;
  }

}
