@font-face {
  font-family: 'iconfont';  /* project id 1756573 */
  src: url('//at.alicdn.com/t/font_1756573_v2sv73cknwq.eot');
  src: url('//at.alicdn.com/t/font_1756573_v2sv73cknwq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1756573_v2sv73cknwq.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1756573_v2sv73cknwq.woff') format('woff'),
  url('//at.alicdn.com/t/font_1756573_v2sv73cknwq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1756573_v2sv73cknwq.svg#iconfont') format('svg');
}
  .iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}