.item-cost-price-insert-dialog{
    .at-modal__container {
        width: 900px;
        height: 615px;
    }
    .dialog-body {
        .bottom-panel {
            .bottom-panel-view {
                display: flex;
                width: 100%;
                justify-content: space-between;
                .trade-btn-small-primary {
                    width: 92px;
                    text-align: center;
                }
                padding-right: 40px;
            }
            background-color: #fff;
            padding: 10px 20px !important;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            box-shadow: 10px 2px 10px 0px rgba(0, 0, 0, 0.1);
        }
    }
}
