.phrase-setting-page{
    padding: 0 20px;
    .tab-bar{
        margin-bottom: 10px;
    }
    .tip{
        .iconfont-pingjiaduanyu-xinzengduanyu{
            margin-right: 8px;
            color: #1890FF;
        }
        .iconfont-sanjiaoxingjinggao{
            margin-right: 7px;
            color: #FFA033;
        }
    }
}